@import url('https://fonts.googleapis.com/css?family=Josefin');

/* contenedor principal +++++++++++++++++++++++++++++++++*/

body{
  margin: 0px;
  padding: 0px;
  font-family: Verdana; 
  background: url("../Images/fondo_2.jpg") no-repeat fixed;
  background-size: cover;
}

h1.title-header{
  color: #000;
  text-align: center;
  font-size: 40px;
  margin: 0.5em 0em;
}

span.logo-left{
  color: #294FFA;
  text-shadow: 2px 2px #000;
}

span.logo-right{
  color: #E2EB52;
  text-shadow: 2px 2px #000;
}

/*+++++++++++++ Fin contenedor principal +++++++++++++++*/



/* navegacion de la pagina  +++++++++++++++++++++++++++*/

nav.main-nav-content{
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

nav.main-nav-content ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav.main-nav-content ul li{
  display: inline-block;
  margin: .7em 1.1em;
}

nav.main-nav-content ul li a{
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 1em;
}

nav.main-nav-content ul li a:hover{
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  transition: .5s;
  transform: scale(1.2);
}

nav.main-nav-content ul li a.selected-item{
  border-bottom: 5px solid #294FFA;
  font-size: 25px;
  padding: .6em;
}

/*++++++++++++ Fin de navegacion de la pagina ++++++++++++*/



/* seccion del contenido principal +++++++++++++++++++++++*/

div.information-section{
  
  width: 50%;
  background: rgba(255, 255, 255, 0.6);
  font-size: 3em;
  font-family: Josefin;
  font-weight: lighter;
  font-style: italic;
  position: relative;

  text-align: center;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em; 
  padding-bottom: .1em;
}

div.information-section p{
  margin-top: 0.1em; 
}

.content-section{
  padding: 1.5em;
  text-align: center;
  font-size: 30px;
}

.section-one{
  background: #E2EB52;
}

.section-two{
  background: #60ADFA;
}

.section-three{
  background: #FFF;
}

.section-two p{
  width: 70%;
  margin: 0 auto;
  font-family: Josefin;
  font-size: 1.5em;
}


div.section-content-one{
  background: rgba(255, 255, 255, 0.8);
  padding: 4%;
  overflow: hidden;
  border: 1px solid;
}

.image-content-one{
  margin-right: 3%;
  float: left;
  width: 57%;
}

h2.title-content-one{
  font-family: "Helvetica Neue";
  font-size: 3.2em;
  font-weight: medium;
  color: #E2EB52;
  text-shadow: -3px -2px 4px #000;
  display: block;
  
}

.texto-content-one{
  font-family: "Helvetica Neue";
  font-size: 2.5em;
  font-weight: lighter;
  display: block;
}

.content-text__section-one{
  float: left;
  width: 39%;
}


a.boton-design{
  display: inline-block;
  float: left;
  margin: 1.2em 0;
  padding: 2.5% 5%;
  font-size: 2em;
  text-decoration: none;
  width: 4.5em;
  background: #60ADFA;
  transition: .8s;
}

/*Crea mayuscaulas : text-transform: uppercase | lowercase;*/
/*agranda el elemento : transform: scale(1.5) | scaleX | scaleY;*/
/*rota el elemento : transform: rotate(360deg);*/
/*mueve el elemento : transform | ransformX | ransformY: translate(30px);*/
/*Inclinacion del elemento segun valeres X y Y : transform: skewX(-20deg); | transform: skew(-20deg, 25deg);*/
/*Origen de la inclinacion : transform-origin: left top; */


a.boton-design:hover{
  background: #1C8AF9;
  transform: translate(50px);
  color: #FFF;
}


section.content-section p{
  width: 70%;
  margin: 0 auto;
  font-family: Josefin;
  font-size: 1.3em;
  margin-bottom: 1em; 
}

section.content-section h2.title-section{
  font-size: 2.5em;
  font-family: Josefin;
  font-weight: lighter;
}

section.section-group{
  border: 1px solid;
  background: #EDF0F4;
  width: 25%;
  padding: 2em;
  font-size: 18px;
  display: inline-block;
  border-radius: 7px;
  margin: .5em;
}

section.Maquet{
  background: #07B269;
}

section.Design{
  background: #A7A1A4;
}

section.Behavior{
  background: #32E7CE;
}

section.backend{
  background: #CA9C30;
}

section.responsive{
  background: #E1FC32;
}

section.seo{
  background: #067362;
}

section.section-group div.content-text__section-group{
  text-align: center;
}

section.section-group h3{
  font-size: 28px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/* Footer de la pagina web ++++++++++++++++++++++++++++++++*/

footer.footer-content{
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  margin: 1.5em 0;
  text-align: center;
  font-size: 20px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




/**/
























